    .gridContainer {
      height: 100vh;
      width: 100vw;
      display: grid;
      grid-template-areas:
      'eIa AH eDa'
      'iM contenido dM'
      'eIab ANBT eDab'
      ;
      grid-template-columns: 15% 70% 15%;
      grid-template-rows: 15% 70% 15%;
  
    }
  
    .caja {
      border: 1px solid black;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    }
  
    .c1 {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: eIa;
      font-size: 0.62rem;
    }
  
    .c2 {
      grid-area: AH;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 4.5rem;
    }

    .logo{
      width: 98%;
      height: 98%;
      object-fit: contain;
    }
  
    .c3 {
      grid-area: eDa;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.62rem;
    }
  
    .c4 {
      grid-area: iM;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .projectInfo{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 93%;
      border-bottom: 2px solid black;
      font-size: .8rem;
    }
  
    .c5 {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-area: contenido;
      border: 1px solid black;
    }
  
    .c6 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: dM;
      border: 1px solid black;
    }
    .botonContainer{
      border-style: solid;
      border-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .boton{
      background-color: white;
      font-size: small;
    }
  
    .c7 {
      display: block;
      grid-area: eIab;
      border: 1px solid black;
    }
  
    .c8 {
      grid-area: ANBT;
      display: flex;
      justify-content: center;
      align-items:center;
      border: 1px solid black;
    }

    .logotype{
    width: 12%;
    object-fit: cover;
    }

   
  
    .c9 {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: eDab;
      border: 1px solid black;
      font-size: .8rem;
    }
  