/* .gridContainegrProjects {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
      'logo'
      'inspquote'
      'buttons'
      'image'
      'logotype'
      'projectInfo'
      ;
      grid-template-columns: 100vw;
      grid-template-rows: 10% 5% 5% 70% 5% 5%;
  } */

  .logoProjects{
    width: 100%;
    grid-area: logo;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
  }

  .imgProjects{
    width: 96%;
    object-fit: contain;
  }

  .inspquoteProjects{

    grid-area: inspquote;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
  }

  .textProjects{
    font-size:.75rem;
  }

  .buttonsProjects{
    grid-area: buttons;
    display: flex;
    justify-content:center;
    align-items: center;
    border-bottom: 2px solid black;
    font-size:.8rem;
  }

  .btnProjects{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;

  }
  .btn2Projects{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-right: 2px solid black;
    border-radius: 0px;
    
  }

  .imageProjects{
    grid-area: image;
    display: flex;
    padding: 2%;
    justify-content: center;
    border-bottom: 2px solid black;
  }

  .projectInfo{
    z-index: 1;
    grid-area: projectInfo;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .projectInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logotypeProjects{
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 100%;
    grid-area: logotype;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-bottom: 2px solid black;
  }
  .projectInfoText{
    font-size: small;
  }

  .btnClose{
    display: flex;
    width: 50%;
    height: 20%;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: small;
  }
  .btnProjectInfo{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: small;
  }
  .logotypeProjectsName{
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 100%;
    grid-area: logotype;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-bottom: 2px solid black;
    font-size: small;

  }

